<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="tabMesure">
    <ion-card-header>
      <ion-card-title>Coordinates</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Latitude: {{ tabMesure[0]?.latitude }}</ion-item>
      <ion-item>Longitude: {{ tabMesure[0]?.longitude }}</ion-item>
      <ion-item>Date de la mesure: {{ tabMesure[0]?.time }}</ion-item>
    </ion-card-content>
  </ion-card>  

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
